

.banner{
	animation-name: blue-to-red; 
    animation-duration: 10s;    
    width: 100%; 
    height: 100px;
}

.text{
	animation-name: fade-in-out;
	animation-duration: 10s;
}

.late{
	font-size: 90px;
	padding: 0 0 0 1em;
}


    @keyframes blue-to-red {
        from { background: #ED3131; }
        to{ background: #CF3DFA; }
		
		}
		
	@keyframes fade-in-out {
		0% { opacity: 0;}
		30% { opacity: 1;}
		80% { opacity: 1;}
		100% { opacity: 0;}
		}

        /* Keyframes tilbyder to måder at håndtere dem på: 
        
        1.
        Som vist i eksemplet for oven. 
        from "En CSS tilstand" to "En anden CSS tilstand"

        eller 

        2. 
        0% "En CSS tilstand" 100% "En anden CSS tilstand" ville være en oversættelse 
        af ovenstående eksempel med procent i stedet for "from-to-metonden.
        Med procent er der mulighed for at skifte mellem mange forskellige 
        tilstande i løbet af animationen fx. 10% 15% 22% 78%, her har du 
        mulighed for at fin-tune hvad der skal ske i animationen. 
        */
        

    